<!DOCTYPE html>
<html lang="ja">
{% load static %}
<head>
	<meta charset="UTF-8">
	<title>店舗情報|テイクアウト宮崎</title>
	<link rel="stylesheet" type="text/css" href="{% static  'info_edit/style.css' %}"/>
	<link rel="stylesheet" type="text/css" href="../../static/info_edit/style.css"/>
</head>
<body>
<h1>店名</h1>
<section id="basic_info">
	<div id="detail_img"><img src="../../static/info_edit/pizza-1209748_1280.jpg" alt="店名画像"></div>
	<dl>
		<dt>店名</dt>
		<dd>はんぺん亭</dd>
		<dt>ジャンル</dt>
		<dd>イタリアン</dd>
		<dt>所在地</dt>
		<dd>宮崎市花がしま</dd>
		<dt>電話番号</dt>
		<dd>0984-99-9999</dd>
		<dt>e-mail</dt>
		<dd>ggg@ggg.com</dd>
		<dt>webサイト</dt>
		<dd>https://gggg.com</dd>
		<dt>営業時間</dt>
		<dd>11:00~22:00</dd>
		<dt>テイクアウト形態</dt>
		<dd>配達可</dd>
		<dt>コメント</dt>
		<dd>お待ちしています</dd>
	</dl>
</section>
<section id="menu_list">
	<ul class="menu_list_outer">
		<li><img src="../../static/info_edit/pizza-1209748_1280.jpg" alt="料理画像">
			<ul class="menu_list_inner">
				<li>ペペロンチーノ</li>
				<li>1000円</li>
				<li>オールサーディンを使った美味しいパスタです。</li>
			</ul>
		</li>
		<li><img src="../../static/info_edit/pizza-1209748_1280.jpg" alt="料理画像">
			<ul class="menu_list_inner">
				<li>ペペロンチーノ</li>
				<li>1000円</li>
				<li>オールサーディンを使った美味しいパスタです。</li>
			</ul>
		</li>
		<li><img src="../../static/info_edit/pizza-1209748_1280.jpg" alt="料理画像">
			<ul class="menu_list_inner">
				<li>ペペロンチーノ</li>
				<li>1000円</li>
				<li>オールサーディンを使った美味しいパスタです。</li>
			</ul>
		</li>
		<li><img src="../../static/info_edit/pizza-1209748_1280.jpg" alt="料理画像">
			<ul class="menu_list_inner">
				<li>ペペロンチーノ</li>
				<li>1000円</li>
				<li>オールサーディンを使った美味しいパスタです。</li>
			</ul>
		</li>
	</ul>
</section>
<section id="search_box">
	<h2>検索</h2>
	<form action="" method="post">
		<div>
			<p>エリア検索</p>
			<label>市町村
				<select name="city">
					<option value="">宮崎市</option>
					<option value="">都城市</option>
					<option value="">小林市</option>
				</select>
			</label>
			<label>エリア
				<select name="area">
					<option value="">北部</option>
					<option value="">東部</option>
					<option value="">西部</option>
					<option value="">南部</option>
				</select>
			</label>

			<label>ジャンル
				<select name="genre">
					<option value="">北部</option>
					<option value="">東部</option>
					<option value="">西部</option>
					<option value="">南部</option>
				</select>
			</label>
			<label>営業時間
				<select name="time">
					<option value="">ランチ</option>
					<option value="">ディナー</option>
					<option value="">その他</option>
				</select>
			</label>
			<label>価格帯
				<select name="price">
					<option value="">~500円</option>
					<option value="">500~1000円</option>
					<option value="">1000~1500円</option>
					<option value="">2000円~</option>
				</select>
			</label>
			<input type="submit" value="検索">
		</div>
	</form>
</section>
</body>
</html>