<!DOCTYPE html>
<html lang="ja">
{% load static %}
<head>
	<meta charset="UTF-8">
	<title>飲食店様ユーザーログイン|テイクアウト宮崎</title>
	<link rel="stylesheet" type="text/css" href="{% static  'info_edit/style.css' %}">
</head>
<body>
<h1>飲食店様ユーザーログイン</h1>
<h2>検索</h2>
<form action="" method="post">
	<label>メールアドレス
	<textarea name="mail_address" rows="1" cols="30"></textarea></label>
	<label>パスワード
	<textarea name="mail_address" rows="1" cols="30"></textarea></label>
	<input type="submit" value="ログイン">
</form>
</body>
</html>