<!DOCTYPE html>
<html lang="ja">
{% load static %}
<head>
	<meta charset="UTF-8">
	<title>メニュー入力画面|テイクアウト宮崎</title>
	<link rel="stylesheet" type="text/css" href="{% static  'info_edit/style.css' %}">
</head>
<body>
<h1>メニュー入力画面 - 店名</h1>
<form action="" method="post">
	<div>
		<div class="restaurant_data_base">
			<label>メニュー名
				<textarea name="" rows="1" cols="30"></textarea>
			</label>
		</div>
		<div class="restaurant_data_base">
			<label>価格
				<textarea name="" rows="1" cols="30"></textarea>
			</label>
		</div>
		<div class="restaurant_data_base">
			<label>コメント
				<textarea name="" rows="1" cols="30"></textarea>
			</label>
		</div>
		<div class="restaurant_data_base">
			<label>画像
				<textarea name="" rows="1" cols="30"></textarea>
			</label>
		</div>
		<div class="restaurant_data_base">
			<label>保存
			<input type="submit" value="save"></label>
		</div>
	</div>
	<div>
		<div class="restaurant_data_base">
			<label>メニュー名
				<textarea name="" rows="1" cols="30"></textarea>
			</label>
		</div>
		<div class="restaurant_data_base">
			<label>価格
				<textarea name="" rows="1" cols="30"></textarea>
			</label>
		</div>
		<div class="restaurant_data_base">
			<label>コメント
				<textarea name="" rows="1" cols="30"></textarea>
			</label>
		</div>
		<div class="restaurant_data_base">
			<label>画像
				<textarea name="" rows="1" cols="30"></textarea>
			</label>
		</div>
		<div class="restaurant_data_base">
			<label>保存
			<input type="submit" value="save"></label>
		</div>
	</div>
</form>
</body>
</html>