<!DOCTYPE html>
<html lang="ja">
{% load static %}
<head>
	<meta charset="UTF-8">
	<title>メニューリスト|テイクアウト宮崎</title>
	<link rel="stylesheet" type="text/css" href="{% static  'info_edit/style.css' %}">
</head>
<body>
<h1>メニューリスト</h1>
<form action="" method="post">
	<div>
		<ul>
			<li>ペペロンチーノ<a href="">↑</a><a href="">↓</a></li>
			<li>ペペロンチーノ<a href="">↑</a><a href="">↓</a></li>
			<li>ペペロンチーノ<a href="">↑</a><a href="">↓</a></li>
			<li>ペペロンチーノ<a href="">↑</a><a href="">↓</a></li>
			<li>ペペロンチーノ<a href="">↑</a><a href="">↓</a></li>
			<li>ペペロンチーノ<a href="">↑</a><a href="">↓</a></li>
		</ul>
		<input type="submit" value="保存">
	</div>
</form>
</body>
</html>