<!DOCTYPE html>
<html lang="ja">
{% load static %}
<head>
	<meta charset="UTF-8">
	<title>テイクアウト宮崎</title>
	<link rel="stylesheet" type="text/css" href="{% static  'info_edit/style.css' %}">
</head>
<body>
<h1>テイクアウト宮崎</h1>
<section id="search_box">
	<h2>検索</h2>
	<form action="" method="post">
		<div>
			<p>エリア検索</p>
			<label>市町村
				<select name="city">
					<option value="">宮崎市</option>
					<option value="">都城市</option>
					<option value="">小林市</option>
				</select>
			</label>
			<label>エリア
				<select name="area">
					<option value="">北部</option>
					<option value="">東部</option>
					<option value="">西部</option>
					<option value="">南部</option>
				</select>
			</label>

			<label>ジャンル
				<select name="genre">
					<option value="">北部</option>
					<option value="">東部</option>
					<option value="">西部</option>
					<option value="">南部</option>
				</select>
			</label>
			<label>営業時間
				<select name="time">
					<option value="">ランチ</option>
					<option value="">ディナー</option>
					<option value="">その他</option>
				</select>
			</label>
			<label>価格帯
				<select name="price">
					<option value="">~500円</option>
					<option value="">500~1000円</option>
					<option value="">1000~1500円</option>
					<option value="">2000円~</option>
				</select>
			</label>
			<input type="submit" value="検索">
		</div>
	</form>
</section>
<div>
	<p>こちらに掲載したい飲食店様は、こちらからログインしてご記入ください。</p>


	{% if user.is_authenticated %}
		<p><a href="{% url 'admin:index' %}">admin</a></p>
		<p><a href="{% url 'info_edit:make_main_info' %}">新規作成</a></p>
		<p><a href="{% url 'info_edit:edit_main_info' %}">編集</a></p>
		<p><a href="{% url 'logout' %}">ログアウト</a></p>
	{% else %}
		<p><a href="{% url 'accounts:signup' %}">サインアップ</a></p>
		<p><a href="{% url 'login' %}">ログイン</a></p>
	{% endif %}
</div>
</body>
</html>