#basic_info, #search_box, #menu_list {
    border: 1px #999999 solid;
    width: 90%;
    padding: 10px 5%;
    margin-bottom: 20px;
}
#detail_img img{
    width: 80%;
    margin: 5px auto;
}

.menu_list_outer li {
    float: left;
    width: 30%;
    margin-left: 3%;
    list-style: none;
}
.menu_list_inner li{
    float: none;
    width: 100%;
    margin: 0;
}

.menu_list_outer li img {
    width: 90%;
    height: auto;
}

.menu_list_outer:after {

    content: "";
    display: block;
    clear: both;
}
.restaurant_data_base{
    margin-bottom: 10px;
}